
*.csv
*.pyc
.vscode/settings.json
sample_submission.csv.zip
*.zip
/dataset/1.0.0
/dataset/2.0.0
*.log
climsim/climsim_high_res_train/high_res_data/train/0001-02/E3SM-MMF.mli.0001-02-01-00000.nc
climsim/climsim_high_res_train/high_res_data/train/0001-02/E3SM-MMF.mlo.0001-02-01-00000.nc
climsim/climsim_high_res_train/high_res_data/train/0001-02/E3SM-MMF.mlo.0001-02-01-01200.nc
